# Archivos de build
bin/
obj/

# Archivos generados por Visual Studio e IDEs
.vs/
.vscode/
.idea/

# Archivos de configuración y secretos
appsettings.Development.json
appsettings.Production.json
appsettings.json
.env

# Archivos temporales de SonarQube y SonarLint
.sonarqube/
.sonarlint/

# Archivos temporales de pruebas y cobertura
TestResults/
AreadePruebas/TestResults/
AreadePruebas/CoverageReport/
*.cobertura.xml

# Archivos de log y sistema
*.log
*.user
*.suo
*.userosscache
*.sln.docstates
Thumbs.db
.DS_Store
.create_docx_plan.py
.generate_master_doc.py

